name: Update rule from nginx-ultimate-bad-bot-blocker
on:
  schedule:
    - cron: "0 23 * * *"
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.8"
          architecture: x64
      - run: pip install requests
      - run: MAIN_DIR="/home/runner/work/nginx-bot-blocker/nginx-bot-blocker/" python .scripts/process.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          delete-branch: true
          branch-suffix: timestamp
          reviewers: ekapratama93
          title: Auto update bot rules
