name: Nginx Config Test
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Install Nginx
      run: sudo apt install -y nginx
    - name: Test configfile
      run: sudo nginx -t -c /home/runner/work/nginx-bot-blocker/nginx-bot-blocker/.github/workflows/main.conf
